<IfModule mod_authn_file.c>
    AuthType Basic
    AuthName "Xen Orchestra"
    AuthBasicProvider file
    AuthUserFile /var/www/xen/.htpasswd
    Require valid-user
    Satisfy all
</IfModule>
<IfModule !mod_authn_file.c>
    Order allow,deny
    Deny from all
</IfModule>



