html
{
	/*background-color: #1a1a1a;*/
	background-color: #ffffff;
	font-family:arial, verdana, sans-serif;
	font-size: 10pt;

}

body
{
	/*background: #fff;*/
	border: 0px solid #bbb;
	/*margin: 0 0 0 0 px;*/
	margin: 0em auto; /* haut-bas gauche-droite */
	/*min-height: 700px;
	height: auto;
	_height: 400px;
	-moz-border-radius : 5px;
	width: 700px;*/
}
h1
{
	background: url(img/ban2.png) center top no-repeat;
	color: transparent;
	height: 120px;
	margin: 0px;
	padding: 0;
	text-align: center
}

h5
{
	text-align: center;
	margin: 1em auto 1em auto;
	font-size: 1.2em;
	/*border-bottom: 1px solid #DDD;*/
	width : 20%
}

#vm
{
	width: 5em;
}

#vm h3
{
	text-align: center;
	margin: 1em auto 1em auto
}

#main h1
{
	margin: auto;
/*	margin: 1em auto 1em auto;*/
/*	padding: 0;*/
	text-align: center
}

#main h2
{
	text-align: center;
	font-size : 2em;
}

#main h3, #main h4
{
	text-align: center;
	margin: 1em auto 1em auto
}

#main h3
{
	font-size: 1.60em;
	width : 100%
}

#main h4
{
	font-size: 1.10em;
}

#main
{
	color: #111;
	margin: 0 0 0 0 px;
/*	margin: 0 0 .5em .5em;*/ /* haut-bas gauche-droite */
/*	padding: .5em .5em;*/
	text-align: center;
	min-width: 600px;
}

#main > h2:first-child
{
	margin-top: .5em
}

a
{
	color: #0000aa;
	text-decoration: none;
	font-size: 1em
}

a:hover
{
	text-decoration: underline
}

#footer
{
	color: #BBF;
	font-size: .8em;
	margin-top: 3em;
	margin-bottom: 2em;
	text-align : center
}

#left {
	float: left;
	margin : 0em 2em 0em 5em;
	margin-bottom : 10em
}

#left h3 {
	margin-top : 0px;
}

#left img {
	vertical-align: middle;
}

#left table {
	margin-top : -10px;
margin-bottom : 20px;
}
h1 a
{
	display: block;
	height: 150px;
	line-height: 100px;
	overflow: hidden;
	text-indent: -3000em;
}

form
{
	margin-top: 2em;
	margin-bottom: 2em;
	text-align : center
}

#dl
{
	text-align: center;
}

caption {
	font-size: 0.8em;
}

#main table {
	margin : auto;
	text-align : center;
	font-size : 0.89em;
	border-width:3px;
	border-style:medium solid;
	border-color:#444;
	border-collapse:collapse;
	width:100%;

}

#main th {
	margin : 5 5 5 5 px;
	padding : 8px 8px;
	background-color: #222;
	text-align : center;
	color: #aaa;
}

#main td {
	/*margin : 5 5 5 5 px;*/
	cursor:  pointer;
	padding : 5px 5px;
	text-align : center;
	color: #eee;
}


#main tr {
	/*background-color: #eee;*/
	border-top : 1px solid #222;
	/*margin : 10px;*/
	
}

#main tr:hover {
	background-color: #111;
}

#main img
{
	margin-bottom: -3px;
	margin-right: 5px;
	margin-left: 5px;
}
/*
#main th {
	border:1px thin black;
	padding:5px;
	color: #111;
	background:#fff url(img/button1.gif);
	height:30px;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-top: 0px;
	max-width:80px;

}
*/
#main img
{
	margin-bottom: -3px;
	margin-right: 5px;
	margin-left: 5px;
}
/*
#main td {
	border-width:1px;
	border-style:solid;
	border-color:#111;
	min-width: 80px;
/*	max-width:600px;*//*
	margin : 5 5 5 5 px;
	padding : 5px;
}

#main tr:hover {
	background-color: #111
}
*/
caption {
	text-align: center;
	color: #eee;
	font-size: 1.5em;
	margin-bottom : 5px
}


#table
{
	width:80%;
}



#table td{
	border-width:0px;
	text-align : justified;
	padding: 0.2em;
	max-width:500px;
}
/* COLUMNS NETVIBES LIKE */
#widget_col_0 { 
float:left;
width: 50%;
}

#widget_col_1 {
width: 50%;
float:left;
}

.center {
	text-align : center;
}
/* Sliding doors technique */
.widget_nw {
	background:transparent url(alphacube/top_left.gif) no-repeat;
	height:30px;
}

.widget_w {
	border-left:1px solid #888;
	/*#B9B9B9;*/
	margin-left:5px;
}

.widget_sw {
	background:transparent url(alphacube/bottom_left.gif) no-repeat;
	height:15px;
}

.widget_title {
	background:  url(alphacube/top_right.gif) repeat-x right top;
	color:#eee;
	font:bold 14px/25px Tahoma, Arial, sans-serif;
	height:26px;
	margin:0 0 0 15px;
	padding:5px 0 0 0 ;
	text-align:center;
	margin-left:15px;
}

.widget_content {
	background-color: #1e1e1e;
	/*#f9f9f9;*/
	/*#FDFDFD;*/
	color:#fff;
	/*font:normal 12px/1em Tahoma, Arial, sans-serif;*/
	overflow:hidden;
	padding:5px;
	border-right:1px solid #888;
	margin-right:5px;
}

.widget_statusbar {
	background:transparent url(alphacube/bottom_right.gif) repeat-x right top;
	font-size:8px;
	height:15px;
	margin-left:11px;
}

.widget_draggable {
	cursor:move;
}

/* Ghost */
.widget_ghost {
	background:#FFF;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position:relative;
	border: 3px dashed #000;
	margin:0px;
	padding:0;
}

/* BUTTONS */
.buttons a, .buttons button{

	display: block;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	margin: auto;
	font-family:arial, verdana, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
	width:auto;
	overflow:visible;
	padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
	padding:5px 10px 5px 7px; /* Firefox */
	line-height:17px; /* Safari */
}
*:first-child+html button[type]{
	padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
	margin:0 -4px -3px 0 !important;
	padding:0;
	border:none;
	width:16px;
	height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
/*	background-color:#ddd;*/
/*	border:1px solid #c2e1ef;*/
	color:#336699;
}
.buttons a:active{
/*	background-color:#ddd;*/
/*	border:1px solid #777;*/
    color:#111;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#555555;
}
.buttons a.positive:hover, button.positive:hover{
/*	background-color:#aaa;*/
/*	border-top:1px solid #111;*/
/*	border-left:1px solid #111;*/
/*	border:1px solid #333;*/
/*	color:#529214;*/
}
.buttons a.positive:active{
/*	background-color:#529214;*/
/*	border:1px solid #529214;*/
	color:#fff;
}



.menu1 {
	padding:0 0 0 0px;
	margin: auto;
	list-style:none;
	height:35px;
	background:#fff url(img/button1.gif);
	position:relative;
	border:1px solid #000;
	border-width:0 1px;
	border-bottom:1px solid #444;
}
.menu1 li {
	/*float:right;*/
	margin: auto;
	text-align: center;
}
.menu1 li a {
	display:block;
	float:left;
	height:35px;
	line-height:35px;
	color:#fff;
	text-decoration:none;
	font-size:0.8em;
	font-family:arial, verdana, sans-serif;
	font-weight:bold;
	text-align:center;
	padding:0 0 0 8px;
	cursor:pointer;
}

.menu1 li a b {
	float:left;
	display:block;
	padding:0 16px 0 8px;
}

.menu1 li.current a {
	color:#fff;
	background:url(img/button3.gif);
}

.menu1 li.current a b {
	background:url(img/button3.gif) no-repeat right top;
	border:none;
}

.menu1 li a:hover {
	color:#fff;
	background:#000 url(img/button2.gif);
}

.menu1 li a:hover b {
	background:url(img/button2.gif) no-repeat right top;
}
.menu1 li.current a:hover {
	color:#fff;
	background:#000 url(img/button3.gif);
	cursor:default;
}

.menu1 li.current a:hover b {
	background:url(img/button3.gif) no-repeat right top;
}

.menu1 li img {
	margin:0px 5px -3px -5px !important;
	padding:0;
	border:none;
	width:16px;
	height:16px;
}

