html
{
	background-color: #eee;
	font-family:arial, verdana, sans-serif;
	font-size: 10pt;
	height: 100%
}

body
{
	border: 0px solid #bbb;
	margin: 0em auto;
}
h1
{
	background: url(img/ban2.png) center top no-repeat;
	color: transparent;
	height: 120px;
	margin: 0px;
	padding: 0;
	text-align: center
}

h5
{
	text-align: center;
	margin: 1em auto 1em auto;
	font-size: 1.2em;
	/*border-bottom: 1px solid #DDD;*/
	width : 20%
}


#main h1
{
	margin: auto;
/*	margin: 1em auto 1em auto;*/
/*	padding: 0;*/
	text-align: center
}

#main h2
{
	text-align: center;
	font-size : 2em;
}

#main h3, #main h4
{
	text-align: center;
	margin: 1em auto 1em auto
}

#main h3
{
	font-size: 1.60em;
	width : 100%
}

#main h4
{
	font-size: 1.10em;
}

#main
{
	color: #111;
	margin: 0 0 0 0 px;
	text-align: center;
	min-width: 600px;
}

#main > h2:first-child
{
	margin-top: .5em
}

a
{
	color: #0000aa;
	text-decoration: none;
	font-size: 1em
}

a:hover
{
	text-decoration: underline
}

#footer
{
	color: #BBF;
	font-size: .8em;
	margin-top: 3em;
	margin-bottom: 2em;
	text-align : center
}

#left
{
	float: left;
	margin : 0em 2em 0em 5em;
	margin-bottom : 10em
}

#left h3
{
	margin-top : 0px;
}

#left img
{
	vertical-align: middle;
}

#left table
{
	margin-top : -10px;
margin-bottom : 20px;
}

h1 a
{
	display: block;
	height: 150px;
	line-height: 100px;
	overflow: hidden;
	text-indent: -3000em;
}

#dl
{
	text-align: center;
}

caption
{
	font-size: 0.8em;
}


#main table
{
	margin-bottom : 0px;
	text-align : center;
	font-size : 0.89em;
	border-collapse:collapse;
	width:100%;
}

#main th
{
	/*margin : 5 5 5 5 px;*/
	padding : 8px 8px;
	text-align : center;
	color: #111;
	background-color: #f6f6f6;
}

#main td
{
	cursor: pointer;
	/*margin : 5 5 5 5 px;*/
	padding : 5px 5px;
	text-align : center;
	color: #111;
}

#main tr
{
	border-top : 1px solid #eee;
}

#main tr:hover
{
	background-color: #eee;
}

#main img
{
	margin-bottom: -3px;
	margin-right: 5px;
	margin-left: 5px;
}

#main img
{
	margin-bottom: -3px;
	margin-right: 5px;
	margin-left: 5px;
}

caption
{
	text-align: center;
	color: #666;
	font-size: 1.5em;
	margin-bottom : 5px
}


#table
{
	width:80%;
}



#table td
{
	border-width:0px;
	text-align : justified;
	padding: 0.2em;
	max-width:500px;
}

/* COLUMNS NETVIBES LIKE */
#widget_col_0
{
	float:left;
	width: 50%;
}

#widget_col_1
{
	width: 50%;
	float:left;
}

/* TABS IN VM WINDOW */
#vm
{
	color: #ddd;
}

#vm ul
{
	margin:0 0 0 0;
}

#vm p
{
	font: 90% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom : 0.4em;
	padding-left: 10em;
}

/* LOGIN FORM */
#login
{
	color: white;
	font: 90% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: -10px;
	float: right;
	z-index: 10;
}

#login input
{
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:#eee;
	border: 1px solid #1e1e1e;
	font: 82% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	width: 60px;
	/*height: 15px;*/
}

#password
{
	width: 160px;
}

/* ACTION BUTTON */
.button
{
	cursor:pointer;
}

/* MENU IN VM PAGE */
.menuvm
{
	background: #333;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 8em;
}

.menuvm li img
{
	margin:0px 5px -3px -5px !important;
	padding-left:5px;
	border:none;
	width:16px;
	height:16px;
}
.menuvm li
{
	font: 82% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
.menuvm a
{
	background: #1d1d1d;
	border-bottom: 1px solid #3a3a3a;
	color: #ccc;
	display: block;
	margin: 0;
	padding: 8px 8px;
	text-decoration: none;
}
.menuvm a:hover
{
	background: #3a3a3a left center no-repeat;
	color: #fff;
	padding-bottom: 8px;
}
.center
{
	text-align : center;
}

.widget_nw
{
	background:transparent url(alphacube/white/top_left.gif) no-repeat;
	height:30px;
}

.widget_w
{
	border-left:1px solid #bbb;
	/*#B9B9B9;*/
	margin-left:5px;
}

.widget_sw
{
	background:transparent url(alphacube/white/bottom_left.gif) no-repeat;
	height:15px;
}

.widget_title
{
	background:  url(alphacube/white/top_right.gif) repeat-x right top;
	color:#111;
	font:bold 14px/25px Tahoma, Arial, sans-serif;
	height:26px;
	margin:0 0 0 15px;
	padding:5px 0 0 0 ;
	text-align:center;
	margin-left:15px;
}

.widget_content
{
	background-color: #fdfdfd;
	/*#FDFDFD;*/
	color:#111;
	font:normal 12px/1em Tahoma, Arial, sans-serif;
	overflow:hidden;
	padding:5px;
	border-right:1px solid #bbb;
	margin-right:5px;
	margin-bottom : 0px;
	/*padding-bottom: 0px;*/
}

.widget_statusbar
{
	background:transparent url(alphacube/white/bottom_right.gif) repeat-x right top;
	font-size:8px;
	height:15px;
	margin-left:11px;
}

.widget_draggable
{
	cursor:move;
}

/* Ghost */
.widget_ghost
{
	background:#FFF;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position:relative;
	border: 3px dashed #000;
	margin:0px;
	padding:0;
}

.menu1
{
	padding:0 0 0 0px;
	margin: auto;
	list-style:none;
	height:35px;
	background:#fff url(img/button1.gif);
	position:relative;
	border:1px solid #000;
	border-width:0 1px;
	border-bottom:1px solid #444;
}
.menu1 li
{
	z-index: 0;
	float:left;
	margin: auto;
	text-align: center;
}
.menu1 li a
{
	display:block;
	float:left;
	height:35px;
	line-height:35px;
	color:#fff;
	text-decoration:none;
	font-size:0.8em;
	font-family:arial, verdana, sans-serif;
	font-weight:bold;
	text-align:center;
	padding:0 0 0 8px;
	cursor:pointer;
}

.menu1 li a b
{
	text-transform: uppercase;
	float:left;
	display:block;
	padding:0px 16px 0px 8px;
}

.menu1 li.current a
{
	color:#fff;
	background:url(img/button3.gif);
}

.menu1 li.current a b
{
	background:url(img/button3.gif) no-repeat right top;
	border:none;
}

.menu1 li a:hover
{
	color:#fff;
	background:#000 url(img/button2.gif);
}

.menu1 li a:hover b
{
	background:url(img/button2.gif) no-repeat right top;
}

.menu1 li.current a:hover
{
	color:#fff;
	background:#000 url(img/button3.gif);
	cursor:default;
}

.menu1 li.current a:hover b
{
	background:url(img/button3.gif) no-repeat right top;
}

.menu1 li img
{
	margin:0px 5px -3px -5px !important;
	padding:0;
	border:none;
	width:16px;
	height:16px;
}

